.productp {
  /* display: flex;
  flex-direction: column; */
  border: 1px solid var(--tg-theme-button-color);
  padding: 15px;
  width: 100%;
  justify-content: space-between;
}


.imgp {
  width: 100%;
  background: lightgray;
  height: 100px;
  margin: 0 auto;
  background: var(--tg-theme-button-color);
}

.titlep {
  text-align: center;
}

.descriptionp {
  text-align: center;
  font-size: 0.8em;
}

.pricep {
  text-align: center;
}

.aboutp {
	text-align: center;
	font-size: 0.8em;
}

.add-btnp {
  margin-top: 10px;
  width: 100%;
  border-radius: 32px;
background: var(--light-1, #40A1FF);
color: white;
box-shadow: 0px 9px 17px 0px rgba(64, 161, 255, 0.26);
}